* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
:root {
  /* Colors */
  --header-color: #a8c8bc;
  --bgc-newsletter: #b86f52;
  --button-color-light: #255957;
  --button-color-dark: #f78764;
  --text-color: #55545c;
  --background-color: #f0ece9;

  /* Fonts */
  --title-font: "Righteous", "arial", "cursive";
  --sub-title-font: "Roboto", "arial", "sans-serif";
  --paragraph-font: "Roboto", "arial", "sans-serif";
  --paragraph-spacing: 1.875rem;

  /* Desktop font-size */
  --title-font-size: 5rem;
  --sub-title-font-size: 2rem;
  --paragraph-font-size: 1.25rem;
  --button-font-size: 1rem;

  /* Mobile font-Size */
  --title-font-size-mobile: 2.5rem;
  --sub-title-font-size-mobile: 1.25rem;
  --paragraph-font-size-mobile: 1rem;
  --button-font-size-mobile: 0.875rem;
}

/* Header */
nav {
  height: 60px;
  border: 1px solid tomato;
  background-color: var(--header-color);
}
.logo {
  height: 40px;
}
.nav-logo {
  margin: auto;
  text-align: center;
}

.container{
  height:50px;
  width:50px;
  background-color: salmon;
  margin-left: 20rem;
  margin-bottom:10px;
  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
}
.row{
  width:70%;/* taille par rapport à la position de son parent */
  height: 0.15rem;
  border-radius:5px;
  background-color: #fff;
  position: absolute;
  transition:all .5s ease-in-out;
}
.row:nth-child(1){
  top:9px;

}
.row:nth-child(2){
  top:24px;
}
.row:nth-child(3){
  top:39px;
}

/* Animation button burger */
.container.active .row:nth-child(1){
  top: 18px;
  transform:rotate(135deg);
}
.container.active .row:nth-child(2){
  transform:translateX(-20px);
  opacity: 0;
}
.container.active .row:nth-child(3){
  top: 18px;
  transform:rotate(-135deg);
}
.header-burger {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  color: var(--background-color);
}
.header-burger.hidden{
  visibility: hidden;
}
.header-burger.visible{
  visibility: visible;
}

a {
  text-decoration: none;
}
.social-media {
  text-align: center;
}
/* About */